.full-width {
  width: 100%;
}

.unselected {
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 16px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  height: calc(100% - 50px);
  width: 100%;

  .text {
    color: #232a31;
    font-size: 22px;
  }
}

.wrapper-selected-serie {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 16px 0 rgba(0, 0, 0, 0.4);
  padding: 20px;
  height: calc(100% - 50px);
  max-height: calc(100% - 50px);
  width: 100%;

  .serie-title,
  .season-title {
    font-size: 20px;
    font-weight: bold;
  }

  .serie-seasons,
  .season-episodes {
    font-size: 20px;
    font-weight: 400;
  }

  .info {
    font-weight: 500;

    span {
      font-weight: 400;
    }
  }

  .wrapper-series,
  .wrapper-episodes {
    max-height: 385px;
    overflow-y: scroll;
  }

  .wrapper-action {
    display: flex;
    justify-content: flex-end;
  }

  .loading {
    margin-top: 50px;
  }

  .answer {
    border: solid 1px #e4e4e4;
    border-radius: 10px;
    margin-top: 50px;
    padding: 15px;
  }
}
